In [1]:
t=('hello','hi','bye',90,80)

In [2]:
type(t)

tuple

In [3]:
print(t
)

('hello', 'hi', 'bye', 90, 80)

In [4]:
print(*t)

hello hi bye 90 80

In [5]:
t[2]

'bye'

In [6]:
t[::-1]

(80, 90, 'bye', 'hi', 'hello')

In [7]:
len(t)

5

In [8]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [12]:
t2=("bye","hello")

In [13]:
t1=t+t2

In [14]:
print(t1)

('hello', 'hi', 'bye', 90, 80, 'bye', 'hello')

In [15]:
t1.count('bye')

2

In [16]:
t1.index("bye")

2

# Dictionary

In [17]:
d = {"k1":'val',"k2":'val2'}

In [18]:
d['k1']

'val'

In [21]:
d["k1"]='val3'

In [22]:
d

{'k1': 'val3', 'k2': 'val2'}

In [23]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [24]:
d.keys()

dict_keys(['k1', 'k2'])

In [25]:
d.values()

dict_values(['val3', 'val2'])

In [26]:
key = list(d.keys())

In [27]:
value = list(d.values())

In [29]:
print(key)
print(value)

['k1', 'k2']
['val3', 'val2']

In [30]:
d.items()

dict_items([('k1', 'val3'), ('k2', 'val2')])

In [38]:
d1 = dict([['name','gaurav'],['age',34],['course','python']])

In [33]:
d1

{'name': 'gaurav', 'age': 34, 'course': 'python'}

In [39]:
d2 = dict([['id',101],['rollno',1001],['address','raja park']])

In [40]:
d1.update(d2)

In [41]:
d1

{'name': 'gaurav',
 'age': 34,
 'course': 'python',
 'id': 101,
 'rollno': 1001,
 'address': 'raja park'}

In [42]:
d2

{'id': 101, 'rollno': 1001, 'address': 'raja park'}

In [44]:
training = {
    'course1' : {'trainer' : 'sachin','title':'data science','fees':20000},
    'course2' : {'trainer' : 'manish','title':'python','fees':15000},
    'course3' : {'trainer' : 'rajat','title':'aws','fees':10000},
    'course4' : {'trainer' : 'kushal','title':'linux','fees':9000}
}

In [46]:
training['course2']['fees']

15000

In [47]:
training.get('course1')

{'trainer': 'sachin', 'title': 'data science', 'fees': 20000}

In [48]:
training.get('course3')

{'trainer': 'rajat', 'title': 'aws', 'fees': 10000}

In [49]:
d

{'k1': 'val3', 'k2': 'val2', 'id': 101, 'rollno': 1001, 'address': 'raja park'}

In [52]:
d=d.fromkeys(['k1','k2'],'Default')

In [53]:
d

{'k1': 'Default', 'k2': 'Default'}

In [55]:
d1

{'name': 'gaurav',
 'age': 34,
 'course': 'python',
 'id': 101,
 'rollno': 1001,
 'address': 'raja park'}

In [56]:
d1.setdefault('name','def')

'gaurav'

In [57]:
d = {'cities':['jaipur','delhi','shimla']}

In [59]:
d['cities'][2]

'shimla'

In [60]:
d={('one','two','three'):[1,2,3]}

In [62]:
d[('one','two','three')]

[1, 2, 3]

In [63]:
d1

{'name': 'gaurav',
 'age': 34,
 'course': 'python',
 'id': 101,
 'rollno': 1001,
 'address': 'raja park'}

In [66]:
d1.update(name2='peeysuh')

In [67]:
d1

{'name': 'gaurav',
 'age': 34,
 'course': 'python',
 'id': 101,
 'rollno': 1001,
 'address': 'raja park',
 'name2': 'peeysuh'}

In [68]:
data = {
    'name' : ['simran','riay','gaurav','amit'],
    'accno': [1001,1002,1003,1004],
    'bal' : [10000,20000,30000,40000],
    'password':['pass@123','admin123','passadmin','admin@1234']
}

In [75]:
ac=int(input("enter account number :"))
ind=data['accno'].index(ac)
bal=int(input("enter new balance"))
pas=input("enter new password")
data['bal'][ind]+=bal
data['password'][ind]=pas
print(data)

enter account number :1002
enter new balance10000
enter new passwordasdf123
{'name': ['simran', 'riay', 'gaurav', 'amit'], 'accno': [1001, 1002, 1003, 1004], 'bal': [10000, 70000, 30000, 40000], 'password': ['pass@123', 'asdf123', 'passadmin', 'admin@1234']}

In [1]:
ac ={[1,2,3]:'hello'}

TypeError: unhashable type: 'list'

In [2]:
hash([1,2])

TypeError: unhashable type: 'list'

In [3]:
hash((1,2))

3713081631934410656

In [4]:
hash('peeyush')

3641618754780684916

In [5]:
d= {'name':'peeyush','city':'jaipur','location':'grras'}

In [6]:
d['name']='PEEYUSH'

In [7]:
d

{'name': 'PEEYUSH', 'city': 'jaipur', 'location': 'grras'}

In [8]:
d['age']

KeyError: 'age'

In [10]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [11]:
l = ['name','age','city','school','rollno']

In [13]:
dd= dict.fromkeys(l)

In [14]:
dd

{'name': None, 'age': None, 'city': None, 'school': None, 'rollno': None}

In [16]:
dd= dict.fromkeys(l,'default')

In [17]:
dd

{'name': 'default',
 'age': 'default',
 'city': 'default',
 'school': 'default',
 'rollno': 'default'}

In [18]:
d.get('name')

'PEEYUSH'

In [20]:
print(d.get('age'))

None

In [21]:
d.get?

In [22]:
d.get("age","key not found")

'key not found'

In [23]:
d.get("name","key not found")

'PEEYUSH'

In [24]:
d.items()

dict_items([('name', 'PEEYUSH'), ('city', 'jaipur'), ('location', 'grras')])

In [25]:
d.keys()

dict_keys(['name', 'city', 'location'])

In [31]:
dd.popitem()

('rollno', 'default')

In [34]:
dd.pop('name')

'default'

In [35]:
dd.pop('name')

KeyError: 'name'

In [36]:
dd.pop('name','key is not available')

'key is not available'

In [37]:
dd.popitem?

In [38]:
dd.setdefault?

In [42]:
dd.setdefault("name","peeyush")

'peeyush'

In [43]:
dd

{'age': 'default', 'city': 'default', 'school': 'default', 'name': 'peeyush'}

In [45]:
d

{'name': 'PEEYUSH', 'city': 'jaipur', 'location': 'grras'}

In [46]:
dd

{'age': 'default', 'city': 'default', 'school': 'default', 'name': 'peeyush'}

In [47]:
dd.update(d)

In [48]:
dd

{'age': 'default',
 'city': 'jaipur',
 'school': 'default',
 'name': 'PEEYUSH',
 'location': 'grras'}

In [49]:
l = {'one':1,'two':2}

In [50]:
dd.update(l)

In [51]:
dd

{'age': 'default',
 'city': 'jaipur',
 'school': 'default',
 'name': 'PEEYUSH',
 'location': 'grras',
 'one': 1,
 'two': 2}

In [52]:
l1 = [('three',3),('four',4)]

In [53]:
dd.update(l1
         )

In [54]:
dd

{'age': 'default',
 'city': 'jaipur',
 'school': 'default',
 'name': 'PEEYUSH',
 'location': 'grras',
 'one': 1,
 'two': 2,
 'three': 3,
 'four': 4}

In [57]:
q= {'one':1,'two':2}

In [58]:
r= {'three':1,'one':4}

In [63]:
s= (**q,**r)

SyntaxError: invalid syntax (<ipython-input-63-4d7116d75f6f>, line 1)

In [64]:
s={1,2,3,4,5}

In [66]:
type(s)

set

In [67]:
d={1,2,3}

In [68]:
print(dir(s))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [70]:
s.add(7)

In [72]:
s1={6,7,8,9}

In [75]:
s.add(9)

In [76]:
s

{1, 2, 3, 4, 5, 7, 9}

In [78]:
s1.clear()

In [79]:
s1

set()

In [80]:
s.copy?

In [84]:
s1=s.copy()

In [85]:
s1

{1, 2, 3, 4, 5, 7, 9}

In [86]:
s.difference?

In [87]:
s1.difference(s)

set()

In [88]:
s1.add(19)

In [89]:
s1.difference(s)

{19}

In [90]:
s.difference_update?

In [91]:
s2={1,2,10,13,19}

In [92]:
s2.difference_update(s1)

In [93]:
s2

{10, 13}

In [94]:
s.discard?

In [95]:
s.intersection?

In [96]:
s.intersection_update?

In [97]:
s.pop?

In [98]:
s2.pop()

10

In [99]:
s2

{13}

In [101]:
s2.pop()

13

In [102]:
s2.pop()

KeyError: 'pop from an empty set'

In [103]:
s.remove?

In [104]:
s.discard?

In [105]:
s.symmetric_difference?

In [106]:
s.symmetric_difference(s2)

{1, 2, 3, 4, 5, 7, 9}

In [112]:
s1.symmetric_difference(s)

{19}

In [108]:
s1

{1, 2, 3, 4, 5, 7, 9, 19}

In [110]:
s

{1, 2, 3, 4, 5, 7, 9}

In [113]:
s={1,2,3,4,5}

In [114]:
ss={4,5,6,7,8}

In [115]:
s.difference(ss)

{1, 2, 3}

In [116]:
s.symmetric_difference(ss)

{1, 2, 3, 6, 7, 8}

In [117]:
frozenset(s)

frozenset({1, 2, 3, 4, 5})

In [118]:
z=frozenset(s)

In [119]:
type(z)

frozenset

In [121]:
print(dir(z))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']

In [122]:
b= True

In [123]:
type(b)

bool

In [124]:
dir(b)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [125]:
a= 45

In [128]:
b=float(a)

In [129]:
b

45.0

In [130]:
complex(a)

(45+0j)

In [131]:
c=complex(b)

In [132]:
c

(45+0j)

In [133]:
float(c)

TypeError: can't convert complex to float

In [4]:
a= input("enter a number")
b= input("enter a number")
c=a+b
print(c)

enter a number2
enter a number2
22

In [3]:
a= int(input("enter a number"))
b= input("enter a number")
c=a+b
print(c)

enter a number45.5

ValueError: invalid literal for int() with base 10: '45.5'

In [6]:
a= float(input("enter a number"))
b= int(input("enter a number"))
c=a+b
print(c)

enter a number45
enter a number5
50.0

In [9]:
c= complex(input("enter a number"))
print(c)

enter a number45
(45+0j)

In [10]:
str(45.55)

'45.55'

In [11]:
a = 5

In [12]:
list(a)

TypeError: 'int' object is not iterable

In [13]:
bool(a)

True

In [14]:
s = "hello world"

In [15]:
list(s)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [16]:
tuple(s)

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [17]:
set(s)

{' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}

In [18]:
frozenset(s)

frozenset({' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'})

In [19]:
l = [1,2,3,4]

In [20]:
int(l)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [21]:
str(l)

'[1, 2, 3, 4]'

In [22]:
tuple(l)

(1, 2, 3, 4)

In [23]:
d=[("name","peeyush")]

In [24]:
dict(d)

{'name': 'peeyush'}

In [25]:
set(l)

{1, 2, 3, 4}

In [26]:
t= 1,2,3,4,5,6

In [27]:
t

(1, 2, 3, 4, 5, 6)

In [28]:
a,b,c=1,2,3

In [29]:
a

1

In [30]:
b

2

In [31]:
c

3

In [32]:
a,b=1,2,3,4

ValueError: too many values to unpack (expected 2)

In [33]:
t

(1, 2, 3, 4, 5, 6)

In [34]:
str(t)

'(1, 2, 3, 4, 5, 6)'

In [36]:
list(t)

[1, 2, 3, 4, 5, 6]

In [37]:
t1=(('one',1))

In [38]:
dict(t1)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [39]:
d = {'one':1,'two':2}

In [40]:
str(d)

"{'one': 1, 'two': 2}"

In [41]:
list(d)

['one', 'two']

In [42]:
tuple(d)

('one', 'two')

In [43]:
set(d)

{'one', 'two'}

In [44]:
s

'hello world'

In [45]:
s={1,2,3,4}

In [46]:
list(s)

[1, 2, 3, 4]

In [47]:
tuple(s)

(1, 2, 3, 4)

In [48]:
s= {('one',1),('two',2)}

In [49]:
type(s)

set

In [50]:
dict(s)

{'two': 2, 'one': 1}

In [51]:
bool(0)

False

In [52]:
bool(0.0013232)

True

In [53]:
bool(0+0j)

False

In [54]:
bool(0+1j)

True

In [55]:
s=''

In [56]:
bool(s)

False

In [57]:
bool('a')

True

In [58]:
bool((1,2,3))

True

In [59]:
bool(())

False

In [60]:
t= (1)

In [61]:
type(t)

int

In [62]:
t=(t,)

In [63]:
type(t)

tuple

In [67]:
s=set()

In [68]:
type(s)

set

In [69]:
bool(s)

False

In [70]:
s=None

In [71]:
bool(s)

False